/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #fc5a03 */
body {
    font-family: "Nunito", sans-serif;
    line-height: 1.6;
    color: #111336;
    background-color: #f4f4f4;
    /* background-color: #060636; */
}

/* Header and navigation */
header {
    position: relative;
    text-align: center;
    color: #f4f4f4;
}

nav { 
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

nav ul li {
    margin: 0 35px;
}

nav ul li a {
    color: #f4f4f4;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
	color: #0042bd; /* Orange accent */
}

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f4f4f4;
}

.quote {
    text-align: center;
    background-color: #060636;
    color: #f4f4f4;
    font-size: 3rem;
    font-family: "DM Sans", sans-serif;
    padding: 50px;
    width: 100%;
}

#hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    padding: 50px;
	display: flex;
	vertical-align: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1390px;
}

.overlay h1 {
	font-family: "DM Sans", sans-serif;
    font-size: 5rem;
    color: #ed441a; /* Orange accent */
    text-shadow : 0 0 48px #000214;
}

.overlay p {
    font-size: 2rem;
    /* margin-bottom: 20px; */
}

.title {
	/* margin-right: 400px; */
	vertical-align: middle;
	line-height: 1;
}

.social-links p {
	margin-bottom: 10px;
}

.social-links a {
    margin: 0 10px;
    color: #f4f4f4;
    text-decoration: none;
    font-weight: normal;
	font-size: 3rem;
	vertical-align: middle;
	line-height: 1;
    text-shadow : 0 0 30px #000214;
}

.social-links a:hover {
    color: #0042bd; /* Orange accent on hover */
}

.contact-links {
    margin-top: 30px;
    padding: 0;
    display:flex;
    justify-content: center;
}

.contact-links li {
    list-style: none;
    display: list-item;
    padding: 5px 10px;
}

.contact-links span {
    font-size: 2rem;
    font-weight: normal;
    text-decoration: none;
    color: #161d6e;
    vertical-align: middle;
    line-height: 1;
    margin-right: 5px;
}

.contact-links li:hover {
    color: #0042bd;
    text-decoration: underline;
}

.contact-links a {
    color: #0042bd;
    text-decoration: none;
}

.emph {
	color: #ed441a;
	font-weight: bold;
	font-size: 1.5rem;
}

.small-emph {
	font-weight: 600;
	font-size: 1.1rem;
}

.large-emph {
    color: #ed441a;
    font-weight: bold;
    font-size: 3rem;
}

.pic {
    border-radius: 2%;
	max-width: 100%;
	height: auto;
}

/* Section styles */
section {
    padding: 50px 20px;
    text-align: center;
	max-width: 64rem;
	margin-left: auto !important;
	margin-right: auto !important;
}

h2 {
	font-family: "DM Sans", sans-serif;
	font-weight: 800;
	font-style: normal;
    font-size: 3rem;
    margin-bottom: 20px;
    /* color: #0042bd; */
    color: #161d6e;
	--a: -45deg; /* control the angle */
	--t: .13em; /* thickness of the underline */ 
}

/* Footer styles */
footer {
    background: #060636;
    color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.container.reverse {
    flex-direction: row-reverse;
}

.img-container {
    width: 285px;
    height: 380px;
    border-radius: 8px;
}

.img-container-ls {
    width: 600px;
    height: 380px;
    border-radius: 8px;
}

.img-container img {
    max-width: 100%; /* Ensure the image is responsive */
    height: auto;
    flex-shrink: 0; /* Prevent the image from shrinking */
}

.img-container-ls img {
    max-width: 100%; /* Ensure the image is responsive */
    height: auto;
    flex-shrink: 0; /* Prevent the image from shrinking */
}

.text {
    flex: 1; /* Make the text take up remaining space */
    max-width: 285px;
    /* padding-right: 20px; /* Add some space between the text and image */
    /*padding-left: 20px; */
}

.wide-text {
    flex: 1;
    max-width: 600px;
}

p {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
p .icon {
    margin-left: 20px;
    margin-right: 20px;
    color: #ed441a;
    font-size: 1.3rem;
    line-height: 1.6;
}

strong {
position: relative;

&::after {
    content: '';
    position: absolute;
    bottom: -0.125rem;
    left: -0.5rem;
    right: -0.5rem;
    height: 0.75rem;
    z-index: -1;
    background-image: url("underline.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
}

p > strong {
font-weight: 400;  

&::after {
    bottom: -0.2rem;
    height: 0.5rem;
    left: -0.25rem;
    right: -0.25rem;
}
}

/* Responsive styles */
@media (max-width: 768px) {
    /* nav ul { */
        /* flex-direction: column; */
    /* } */

	.overlay {
		display: block;
	}

    .overlay h1 {
        font-size: 2rem;
    }
	
	.overlay p {
		font-size: 1.2rem;
	}
	
	.title {
		margin-right: 0;
	}

    .social-links {
        flex-direction: column;
    }
	
	nav ul li {
		margin: 0 15px;
	}
	
	h2 {
		font-size: 2rem;
	}
	
	.emph {
		font-size: 1.2rem;
	}

    .large-emph {
        font-size: 1.7rem;
    }
	
	.social-links {
		margin-top: 20px;
	}

    .img-container {
        width: 100%;
        height: inherit;
        margin-top: 50px;
    }

    .img-container-ls {
        width: inherit;
        height: 380px;
        margin-top: 50px;
    }

    .img-container img {
        max-width: 100%;
    }

    .quote {
        font-size: 1.7rem;
        padding: 20px;
        margin-bottom: 50px;
    }

    .container, .container.reverse {
        flex-direction: column; /* Stack the content vertically */
    }

    .contact-links {
        display: block;
    }

    .contact-links li {
        flex-direction: column;
        padding: 5px 10px;
    }

    .text, .wide-text {
        max-width: 100%;
    }
}